body {
  min-height: 100vh;
  color: $colorHeading;
  background: $colorBackground;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: $fontFamily;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include responMedia(mobile) {
    height: auto;
    max-height: none;
  }
}
