$white: hsl(0, 0, 100%);
$strongCyan: hsl(172, 67%, 45%);
$darkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$grayishCyan: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$veryLightGrayishCyan: hsl(189, 41%, 97%);

$colorMain: $darkCyan;
$colorAlt: $strongCyan;
$colorWornings: hsl(15, 49%, 55%);

$colorBorder: $strongCyan;
$colorBorderHover: $strongCyan;

$colorHeading: $darkGrayishCyan;
$colorText: $grayishCyan;
$colorTextAlt: $veryLightGrayishCyan;

$colorBackground: $lightGrayishCyan;
$colorBackgroundSoft: $veryLightGrayishCyan;

$fontFamilyG: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$fontFamilyMain: "Space Mono", monospace;
$fontFamily: $fontFamilyMain, $fontFamilyG;

$radius: 1.5rem;
